In [3]:
import pandas as pd

# value_counts

In [13]:
s1 = pd.Series(["male","female","female","male","female","male","female","male","male","male","female"])

In [14]:
s1

0       male
1     female
2     female
3       male
4     female
5       male
6     female
7       male
8       male
9       male
10    female
dtype: object

In [15]:
s1.unique() # gives unique values

array(['male', 'female'], dtype=object)

In [16]:
s1.nunique()

2

In [17]:
s1.value_counts()

male      6
female    5
dtype: int64

apply()

In [24]:
day = [1,2,3,4,5,6,7,8,9]
km = [12,21,56,22,65,72,19,20,46]

In [25]:
s1 = pd.Series(km,day)

In [26]:
s1

1    12
2    21
3    56
4    22
5    65
6    72
7    19
8    20
9    46
dtype: int64

In [27]:
def mtrconversionkm(km): 
    return (km * 1000) # defining the function

In [28]:
s1.apply(mtrconversionkm) # this method applies the function on each data point in data series

1    12000
2    21000
3    56000
4    22000
5    65000
6    72000
7    19000
8    20000
9    46000
dtype: int64

# map()

In [35]:
# map function takes a dictionary an an input argument

dict1 = { 12: 34, 72: 34,20: 66, 65 :28, 19:45}

In [37]:
s1.map(dict1) # map function maps the new values to a series

1    34.0
2     NaN
3     NaN
4     NaN
5    28.0
6    34.0
7    45.0
8    66.0
9     NaN
dtype: float64